.form-1 {
    background-color: white;
    padding-top: 70px;

    .formulario {
        width: 100%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;

        a {
            font-size: 17px;
            display: inline-block;
            text-decoration: none;
            width: 100%;
            margin-bottom: 15px;
            color: rgb(0, 90, 150);
            font-weight: 700; 
        }

        p {
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 30px;
            color: rgb(0, 90, 150); 
        }
        h2 {
            margin-bottom: 15px;
            font-size: 35px;
            color: rgb(0, 90, 150); 
        }
        .res-text-form {
            width: 100%;
            padding: 15px 10px;
            font-size: 15px;
            margin-bottom: 15px;
            border-radius: 6px;
            outline: 0px;
        }
        form {
            .form-name {
                width: 100%;
                padding: 15px 10px;
                font-size: 15px;
                margin-bottom: 15px;
                border-radius: 6px;
                outline: 0px;
            }
            .formulario-text {
                width: 100%;
                padding: 15px 10px;
                font-size: 18px;
                margin-bottom: 15px;
                border-radius: 6px;
                outline: 0px; 
            }
            .btn-enviar {
                padding: 15px;
                margin-bottom: 90px;
                font-size: 16px;
                outline: 0px;
                background-color: rgb(0, 90, 150);
                color: white;
                border-radius: 10px;
                cursor: pointer;
                transition: all 300ms ease; 
            }
        }
    }
}